.list {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 48px;
  padding: 0 20px;

  &_item {
    width: 380px;
    height: 480px;

    background: linear-gradient(
      114.99deg,
      #471ca9 -0.99%,
      #5736a3 54.28%,
      #4b2a99 78.99%
    );
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    position: relative;
  }
}

.container_logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.container_bgImg {
  background-image: url(../../../assets/image/picture.png);
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 28px;
  padding-top: 178px;
}

.container_boy {
  display: flex;
  justify-content: center;
  position: relative;
}

.container_boy::before {
  content: '';
  width: 100%;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
  position: absolute;
  top: 35px;
}

.wrapperImg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  position: relative;
  background: #ebd8ff;
  border-radius: 50%;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
}

.boyImg {
  width: 64px;
  height: 64px;
}

.textWrapper {
  text-align: center;
  padding-top: 26px;
}

.text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ebd8ff;
}

.text:first-child {
  margin-bottom: 16px;
}

.btn {
  font-family: 'Montserat';
  margin-top: 26px;

  padding: 14px 28px;

  width: 196px;
  height: 50px;

  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;

  text-transform: uppercase;
  color: #373737;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

.followButton {
  background-color: #ebd8ff; /* Колір для стану "Follow" */
  transition: all 250ms;

  &:hover {
    background-color: #5cd3a8;
  }
}

.followingButton {
  background-color: #5cd3a8; /* Колір для стану "Following" */
  transition: all 250ms;

  &:hover {
    background-color: #ebd8ff;
  }
}

.container_select {
  display: flex;
  justify-content: center;
}

.select {
  font-family: 'Montserat';
  height: 40px;
  width: 140px;
  font-size: 20px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  color: #ebd8ff;
  padding-left: 10px;
}

option {
  color: black;
}
