.menu {
  display: flex;
  gap: 20px;
  padding-left: 40px;
  font-family: 'Montserat';
  font-weight: 500;
}

.link {
  font-size: 28px;
  color: black;

  &:global.active {
    color: rgb(3, 169, 244);
    text-decoration: underline;
  }
}
