.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-image: url('../../image/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #fff;
}
